@import url('https://fonts.cdnfonts.com/css/geomanist');
@import url(//db.onlinewebfonts.com/c/0771d7a6020c21f5082380939e415ad1?family=Geomanist+Bold);

:root {
  --primary-color: #c4a586;
  --text-color: rgba(255, 255, 255, 0.7);
  --quote-box: rgb(250, 250, 250);
  --on-background: rgb(66, 66, 66);
  --on-background-alt: rgba(66, 66, 66, 0.7);
  --background: #fbfbfb;
  --card-color: rgba(139, 100, 100, 0.5);
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  color: var(--on-background);
  font-family: 'Geomanist', sans-serif;
  background-color: var(--background);
}

section {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

h1 {
  font-family: 'Geomanist', sans-serif;
  font-size: 40px;
  margin-bottom: 0;
  margin: 30px;
  line-height: 50px;
}

h2 {
  color: #292019;
  font-family: 'Geomanist', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 16px;
  text-align: center;
  margin-bottom: 0;
}

h3 {
  margin-bottom: 0;
}
/* Navigation */

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #fbfbfb;
  position: sticky;
  top: 0;
  z-index: 1000;
  width: 100%;
}

.navbar .shadow {
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
}

.navbar-brand {
  margin-left: 1rem;
}

.navbar-logo {
  height: 3rem;
}

.nav-links {
  display: flex;
  flex-direction: row;
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav-link {
  display: block;
  padding: 1rem;
  color: #000;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.2s ease-in-out;
}

.nav-link:hover {
  color: #f00;
}

.navbar-icons {
  display: flex;
  flex-direction: row;
  margin-right: 1rem;
}

.navbar-icon {
  display: block;
  padding: 1rem;
  color: #000;
  text-decoration: none;
  transition: color 0.2s ease-in-out;
}

.navbar-icon:hover {
  color: #f00;
}

/* sidebar */

.sidebar {
  position: fixed;
  top: 0;
  left: -250px;
  width: 250px;
  height: 100%;
  background-color: #fff;
  z-index: 9999;
  transition: all 0.3s ease-in-out;
}

.sidebar.show {
  left: 0;
}

.sidebar-links {
  padding: 0;
  margin: 0;
  list-style: none;
}

.sidebar-links li {
  margin: 10px 0;
}

.sidebar-links a {
  display: block;
  padding: 10px;
  color: #000;
  text-decoration: none;
}

.sidebar-links a:hover {
  background-color: #f2f2f2;
}

.sidebar-icon {
  margin: 10px;
  color: #2e2e2e;
  padding: 10px 0;
}

/* Cover Section */

.flex-home {
  flex-direction: row;
}
.title h1 {
  font-weight: 500;
  font-size: 8vh;
  line-height: 7.6vh;
  letter-spacing: -0.02em;
  color: #292019;
}

.paragraph {
  font-weight: 400;
  font-size: 1.8vh;
  line-height: 2.8vh;
  color: #72696a;
  margin: 30px;
}

.btn1 {
  min-width: 150px;
}
.btn2 {
  min-width: 150px;
}

.cover-img img {
  mix-blend-mode: darken;
}

.btnnn button {
  margin: 5px 30px;
  width: 20.2vh;
  height: 7vh;
  border: 1px solid #c4a586;
  background: #c4a586;
  color: white;
}
.btnnn button:hover {
  background: white;
  color: #c4a586;
  transform: scale(1.05);
}

.btnnn button:nth-child(2) {
  background: white;
  color: #c4a586;
}

.btnnn button:nth-child(2):hover {
  background: #c4a586;
  color: white;
  transform: scale(1.05);
}
/* Button function */
.btnnn button:not(:disabled):hover {
  transform: scale(1.05);
}

.btnnn button:not(:disabled):hover:active {
  transform: scale(1.05) translateY(0.125rem);
}

.btnnn button:focus {
  outline: 0 solid transparent;
}

.btnnn button:focus:before {
  content: '';
  left: calc(-1 * 0.375rem);
  pointer-events: none;
  position: absolute;
  top: calc(-1 * 0.375rem);
  transition: border-radius;
  user-select: none;
}

.btnnn button:focus:not(:focus-visible) {
  outline: 0 solid transparent;
}

.btnnn button:focus:not(:focus-visible):before {
  border-width: 0;
}

.btnnn button:not(:disabled):active {
  transform: translateY(0.125rem);
}

/* Clients page  */

.all-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vh;
}
.all-logo img {
  margin: 62px;
  padding: 5px;
  width: 90px;
  height: 40px;
}

.mid-con {
  display: flex;
  flex-direction: row;
  font-family: 'Geomanist';
  font-style: normal;
  width: 140vh;
}

.mid-con h1 {
  margin: 0 0 115px 0;
  font-weight: 700;
  font-size: 34px;
  line-height: 44px;
  color: #3d3d3f;
  height: 88px;
}

.mid-con a {
  font-weight: 400;
  font-size: 20px;
  line-height: 20px;
  letter-spacing: 0.03em;
  color: #000000;
  text-decoration: none;
}

.mid-con img {
  width: 100%;
}

.left-con {
  padding: 40px;
  width: 50%;
  height: 388px;
  background: #fcefe9;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.right-con {
  padding: 40px;
  width: 50%;
  height: 388px;
  background: #fae2c8;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

/* product page */

.products-menu {
  width: 140vh;
  margin: 10vh 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

.categories {
  margin-bottom: 5vh;
}

.products-menu h3 {
  font-family: 'Geomanist';
  font-weight: bold;
  font-size: 5vh;
  line-height: 5vh;
  letter-spacing: 0.01em;
  text-transform: uppercase;
  color: #3d3d3f;
  margin: 0;
}

.best-sell,
.see-all {
  margin-top: 1rem;
}
.best-sell a {
  text-decoration: none;
  font-style: normal;
  font-weight: 500;
  font-size: 2.3vh;
  line-height: 2.3vh;
  color: #a9a7a6;
  padding: 0 60px;
}

.see-all a {
  text-decoration: none;
  font-weight: 400;
  font-size: 1.7vh;
  line-height: 1.7vh;
  color: #3d3d3f;
}

.products-menu div:nth-child(2) {
  text-align: center;
}

.products-menu div:nth-child(3) {
  text-align: end;
}

.categories {
  width: 60vh;
}

.categories a {
  padding: 20px;
  text-decoration: none;
  font-weight: 400;
  font-size: 1.8vh;
  line-height: 1.8vh;
  color: #a9a7a6;
}
.categories a:nth-child(4) {
  color: #3d3d3f;
}

.product-container {
  width: 70%;
}
.product-card {
  background: #fff4e8;
  border-radius: 3px;
  width: 31.2vh;
  height: 30.5vh;
  margin: 5vh 5vh 10vh 5vh;
}
.btn-div {
  position: relative;
  height: 300px;
}
.product-card button {
  top: 50%;
  transform: translateY(-50%);
  background: #d9ab82;
  border: 1px solid #d9ab82;
  border-radius: 20px;
  color: #ffffff;
  width: 15vh;
  height: 4vh;
  font-weight: 400;
  font-size: 1.4vh;
  line-height: 1.4vh;
}

.product-card button i {
  border: 1px solid rgba(221, 183, 148, 0.5);
  background: rgba(221, 183, 148, 0.5);
  border-radius: 50%;
  padding: 7px;
}

.product-card button:hover {
  background: white;
  color: #c4a586;
}

.product-card h4 {
  font-weight: 700;
  font-size: 2.6vh;
  line-height: 2.6vh;
  color: #3d3d3f;
  margin-bottom: 0;
  margin: 15px 0;
  padding-left: 50px;
}

.pricing p {
  margin: 10px 0;
  padding-left: 50px;
}
.pricing p:nth-child(1) {
  font-weight: 500;
  font-size: 1.9vh;
  line-height: 1.9vh;
  color: #3d3d3f;
}
.pricing p:nth-child(2) {
  font-weight: 500;
  font-size: 1.5vh;
  line-height: 1.5vh;
  text-decoration-line: line-through;
  color: #a9a7a6;
}

.product-card img {
  transform: translateY(-10%);
  width: 25vh;
  height: 30vh;
}

/* Client Feedback */

.make-row {
  flex-direction: row;
}

.review-left {
  width: 50.2vh;
  height: 58.8vh;
}
.review-image1 img {
  max-width: 100%;
  max-height: 100%;
  display: block;
}
.review-image2 {
  transform: translate(15%, -60%);
}
.review-image2 img {
  width: 12.8vh;
  height: 13.2vh;
  border: 1px solid white;
  margin: 10px;
}
.review-right {
  margin: 0 5vh;
  padding: 9vh 0 0 9vh;

  width: 60vh;
  height: 70vh;
}
.review-text h1 {
  width: 42.7vh;
  height: 11.2vh;
  font-weight: 700;
  font-size: 5.3vh;
  line-height: 5.6vh;
  color: #3d3d3f;
  margin: 0 0 3vh 0;
}
.review-text p {
  width: 44.5vh;
  height: 14vh;
  font-weight: 400;
  font-size: 1.8vh;
  line-height: 2.8vh;
  color: #72696a;
  margin: 5vh 0;
}
.review-by {
  margin: 8vh;
}
.review-by h6 {
  width: 10.4vh;
  height: 2vh;
  font-weight: 400;
  font-size: 2vh;
  line-height: 2vh;
  color: #3d3d3f;
}

.ratings p {
  width: 10.1vh;
  height: 1.4vh;
  font-weight: 400;
  font-size: 1.4vh;
  line-height: 1.4vh;
  color: #a9a7a6;
  margin: 20px 20px 40px 0;
}

.ratings p:nth-child(2) {
  color: #3d3d3f;
}

.review-btn button:nth-child(1) {
  border: 1px solid rgba(0, 0, 0, 0.5);
  background: rgba(255, 255, 255, 0.5);
  border-radius: 50%;
  height: 4vh;
  width: 4vh;
  margin: 10px 0;
}

.review-btn button:nth-child(2) {
  border: 1px solid #e9e9e9;
  border-radius: 50%;
  background: #e9e9e9;
  height: 4vh;
  width: 4vh;
  margin: 10px;
}

.review-btn button:hover {
  background: white;
  color: #c4a586;
}

/*   Form  */

#signup_form {
  background-color: #ffffff;
}

.form-flex {
  flex-direction: row;
}
.form-left {
  width: 50vw;
  height: 58.8vh;
}

.form-right {
  width: 20vw;
}
.form-right img {
  padding: 5vh 0 0;
  height: 45vh;
}

.input-form {
  width: 50%;
}
.form-video {
  width: 44.5vh;
  height: 7.3vh;
  margin-left: 5vh;
}
.form-left .form-top {
  border: 1px solid #fe8432;
  border-radius: 20px;
  width: 18.3vh;
  height: 3.6vh;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 1.4vh;
  line-height: 2vh;
  letter-spacing: -0.5px;
  color: #fe8432;
}
.form-left h6 {
  margin: 0;
}
.form-left .form-top:hover {
  background: #fe8432;
  color: #e9e9e9;
}

.form-left h2 {
  font-weight: 700;
  font-size: 5.3vh;
  line-height: 5.5vh;
  color: #3d3d3f;
  text-align: start;
}
#email {
  padding: 2vh;
}
.input-form input:nth-child(1) {
  width: 80vh;
  height: 7.3vh;
  background: #f5f5f5;
  border: 0;
  box-shadow: 0px 25px 40px rgba(0, 0, 0, 0.01);
  border-radius: 5px;
}
.input-form input:nth-child(2) {
  width: 19.7vh;
  height: 6vh;
  transform: translate(-105%, 10%);
  font-weight: 400;
  font-size: 1.8vh;
  line-height: 2vh;
  color: #ffffff;
  background: #d9ab82;
  border: 0;
  box-shadow: 0px 12px 25px rgba(207, 80, 74, 0.1);
  border-radius: 6px;
}

.form-video img {
  /* align-items: center; */
  margin-top: 4.5vh;
  width: 15vh;
}
.form-video a {
  font-weight: 400;
  font-size: 1.5vh;
  line-height: 2vh;
  text-decoration-line: underline;
  color: #2e2e2e;
  transform: translateX(-27%);
}

.footer-menu {
  width: 80vw;
  margin: 10vh 0 2vh;
  padding-bottom: 1vh;
  border-bottom: 1px solid #dfdfe5;
}

.logo-img {
  width: 20vw;
}
.logo-img img {
  width: 15.6vh;
  height: 3.5vh;
}
.footer-links {
  width: 40vw;
}

.footer-links li {
  list-style: none;
}
.footer-links li a {
  text-decoration: none;
  font-weight: 400;
  font-size: 15px;
  line-height: 20px;
  color: #494949;
  padding: 0 10px;
}
.footer-links li a:hover {
  color: #d9ab82;
}
.social-links {
  width: 20vw;
}

.social-links a {
  padding: 0 10px;
}
.social-links i {
  color: #474747;
}

.social-links i:hover {
  color: #d9ab82;
}

footer {
  font-weight: 400;
  font-size: 1.2vh;
  line-height: 1.2vh;
  text-align: center;
  color: #adadad;
  margin-bottom: 5vh;
}

.bshohug {
  text-decoration: none;
  color: #adadad;
}
.bshohug:hover {
  color: #d9ab82;
}

/* Media queries */
/* navigation */

@media screen and (max-width: 1000px) {
  #nav-bar {
    font-size: 0.9rem;
  }
  .products-menu {
    width: 80vh;
    margin: 0 0 10vh 0;
  }
}

@media screen and (min-width: 850px) {
  .navbar-menu {
    display: block !important;
  }
  .navbar-toggle {
    display: none;
  }
  .sidebar {
    display: none;
  }
}
@media screen and (max-width: 850px) {
  .navbar-menu {
    display: none;
  }
  .navbar-icons {
    display: none;
  }
}

/* cover */
@media screen and (max-width: 900px) {
  .flex-home {
    flex-direction: column-reverse;
  }
  .title h1 {
    font-weight: 900;
    font-size: 6vh;
  }

  .paragraph {
    font-size: 1.6vh;
  }
}
/* trusted clients */

/* For screens smaller than 768px */
@media (max-width: 767px) {
  .trusted-client h2 {
    margin: 0 0 2vh;
    transform: scale(0.8);
  }

  .all-logo {
    transform: scale(0.8);
    width: 100%;
    padding: 2vh;

    margin: 0 0 2vh;
  }

  .all-logo img {
    margin: 0 10px;
    width: 70px;
    height: 30px;
  }

  .mid-con {
    flex-direction: column;
    width: 100%;
    padding: 20px;
  }

  .left-con,
  .right-con {
    width: 100%;
    height: auto;
    padding: 20px;
  }

  .mid-con h1 {
    margin-bottom: 30px;
    height: auto;
  }
}

/* For screens between 768px and 992px */
@media (min-width: 768px) and (max-width: 1099px) {
  .all-logo {
    width: 100%;
    padding: 2vh;

    margin: 0 0 2vh;
  }
  .all-logo img {
    margin: 0 20px;
    width: 80px;
    height: 50px;
    padding-bottom: 20px;
  }
  .trusted-client h2 {
    padding-bottom: 20px;
  }
  .mid-con {
    width: 100%;
    padding: 20px;
  }
  .left-con,
  .right-con {
    padding: 30px;
    height: 300px;
  }
}

/* For screens larger than 992px */
@media (min-width: 1100px) {
  .trusted-client {
    margin-top: 100px;
  }
  .trusted-client h2 {
    padding: 20px;
  }
  .all-logo {
    width: 100%;
    justify-content: space-between;
    margin-bottom: 20px;
  }

  .all-logo img {
    margin: 62px;
    width: 90px;
    height: 40px;
  }

  .mid-con {
    padding: 20px;
  }

  .left-con,
  .right-con {
    width: 50%;
    height: 388px;
    padding: 40px;
  }
}
/* Products */
@media screen and (max-width: 768px) {
  .products-menu {
    flex-direction: column;
    align-items: flex-start;
  }
  .products-menu h3 {
    margin: 20px;
  }
  .flex-fill {
    flex-basis: 100%;
  }

  .best-sell,
  .see-all {
    margin-top: 0.5rem;
  }
}

/* faqs */
@media screen and (max-width: 900px) {
  #faqs {
    margin-top: 0vh;
    transform: scale(0.8);
  }
  .make-row {
    display: flex;
    flex-direction: column;
  }
  .review-left {
    transform: scale(0.8);
  }

  .review-right {
    margin-top: 40px;
  }
  .review-by {
    margin-left: 0;
  }
}

/* signup form */

@media screen and (max-width: 900px) {
  #signup_form {
    margin-top: 0vh;
  }
  .form-flex {
    flex-direction: column;
  }
  .form-left {
    width: 80vw;
  }
  #form {
    flex-direction: column;
  }
  .input-form {
    width: 100%;
    min-width: 90vw;
  }
  .form-video {
    margin: 40px 0 0 0;
    transform: translateX(-30px);
  }
  .form-right {
    display: none;
  }
  .form-right img {
    display: none;
  }

  #video_sec #video {
    width: 90vw;
  }
}

@media screen and (max-width: 700px) {
  .footer-menu {
    flex-direction: column-reverse;
  }
  .footer-menu > div {
    margin: 10px 0;
  }
  .logo-img {
    width: auto;
  }
  .footer-links {
    width: auto;
  }
  .social-links {
    width: auto;
  }
}
